reference/**
models/**
vncorenlp_test/**
logs/**
*.pyc
*.txt
*.scorer
*.tflite
PhoNER_COVID19-main/**
notebooks/**
start-server.sh
kill-server.sh
start-vncorenlp.sh
check-server.sh
data/**
json-flow/**
VnCoreNLP/**
.rasa/**
pipeline/**
*.dot
*.sh
archived_data/**
channels/**
DataEntry_Rasa/**